  <div>
    <h1>Cart</h1>
    <h2>Cart ID: {{cart._id}}</h2>
    <h3>Products:</h3>
    <ul>
      {{#each cart.products}}
      <li>
        <h4>{{this.productId.title}}</h4>
        <p>Quantity: {{this.quantity}}</p>
      </li>
      {{/each}}
    </ul>
  </div>
<script src="/socket.io/socket.io.js"></script>
<script src="/src/public/js/cartController.js"></script>
<script>
  const socket = io()
</script>

